.game_hub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    height: 70vh;
    min-height: 300px;
    max-width: 600px;
    margin: 10vh auto;
    background-color: lightslategray;
    opacity: 0.8;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 34px;
    font-weight: 900;
}
.game_list {
    width: 100%;
    padding: 10px 20px;
    background-color: cadetblue;
    height: 100%;
    overflow: auto;
}

.game__btn__footer button {
    margin: 20px;
}
